NODE_ENV=development|production

# Database
DB_BASE_URL=

# Authentication
AUTH_SECRET=
AUTH_URL=     # Set this in deployment or when deploying self-hosted
NEXTAUTH_URL= # IMPORTANT! This fixes `GET /api/auth/session 404`
